
* {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

body {
 background-color: #0a2a43;
 /* min-height: 1500px;
 min-width: 1500px; */
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}
section::after {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 2;
    mix-blend-mode: color;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    pointer-events: none;
}

.font-effect-3d-float {
    text-align: center;
    position:relative;
    color:#fff;
    font-size: 10em;
    z-index: 1;
    line-height: 170px;
}

#road {
    z-index: 2;
}

#navbar{
    padding: 5px;
    width:100%;
    border: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #fff;
    float: right;
}
#quote {
    color:#fff;
    font-size: 1.5em;
   display: inline;
   margin-left: 30px;
   margin-right: 110px;
   font-family: 'Apple Chancery', cursive;
}

#home {
    display: inline-block;
    padding-right: 20px;
    /* border:solid; */
   border-width: 0px 3px 0px 0px;
    border-color: #fff;
}

#home a {
    text-decoration: none;
    color:#fff;
    font-size: 2em;
    text-align: center;
}

#text {
    position: relative;
    font-size: 9.5em;
    z-index: 1;
    color:#fff;
    text-align: center;

}
#home:hover {
    background-color: #435869;
    /* border-radius: 7px; */
}

#about-us {
    display: inline-block;
    padding-left: 20px;
}
#about-us a{
    text-decoration: none;
    color:#fff;
    font-size: 2em;
}
#about-us:hover {
    background-color: #435869;
}
#albums {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}
#albume-list {
    text-decoration: none;
    color:#fff;
    font-size: 2em;
    display: inline-block;
}

ul {
    display: inline;
    z-index: 3;
}
ul li {
    display: inline-block;
}

ul li:hover {
    background-color: #435869;
    /* border-radius: 7px; */
}

ul li:hover ul{
    display: block;
    
}

ul li ul {
    position:absolute;
    /* width: 108px; */
    display:none;
}

ul li ul li {
    background-color: #0a2a43;
    width: 108.5px;
    /* border-radius: 10px; */
    display: block;
}
ul li ul li a{
    display: block;
    text-decoration: none;
    color:#fff;
    font-size: 1.6em;
    text-align: center;

}

ul li ul li:hover {
    background-color: #435869;
}

#foto {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

#foto a{
    text-decoration: none;
    color:#fff;
    font-size: 2em;
}
#foto:hover {
    background-color: #435869;
    /* border-radius: 7px; */
}

#video {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

#video a{
    text-decoration: none;
    color:#fff;
    font-size: 2em;
}

#video:hover {
    background-color: #435869;
    /* border-radius: 7px; */
}

#news {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

#news a{
    text-decoration: none;
    color:#fff;
    font-size: 2em;
}

#news:hover {
    background-color: #435869;
    /* border-radius: 7px; */
}

#contact {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

#contact a{
    text-decoration: none;
    color:#fff;
    font-size: 2em;
}
#contact:hover {
    background-color: #435869;
    /* border-radius: 7px; */
}

#events {
    display: inline-block;
    margin-top: 60px;
    margin-right: 100px;
    height: 250px;
    width: 400px;
    background-color: rgba(181, 211, 238, 0.488);
    border-radius: 15px;
    box-shadow:7px 10px black;
    /* overflow: hidden; */
}
#newsIcon {
    display: flex;
    margin-top: -30px;
    margin-right: -20px;
    width: 80px;
    height: 80px;
    float: right;
}
#eventsTitle {
    margin-top:10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

#eventsTitle a {
    color: brown;
    text-decoration: underline;
    display: block;
}
#eventsTitle a:hover {
    color:midnightblue;
}
#eventsDiv{
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgba(181, 211, 238, 0.488);
}
#eventsList {
    list-style-type: none;
}
#eventsList li {
    margin-top: 10px;
    margin-left: 20px;
    color:chocolate;
}
#footer {
    margin-top: 1100px;
    margin-left: 20px;
    margin-bottom: 50px;
    border-radius: 7px;
    width: 97%;
    height: 250px;
    background-color: #344553;
    z-index: 3;
}

#daily-texts {
    
    position: relative;
    display: inline-block;
    background-color: rgb(215, 210, 210);
    z-index: 4;
    padding: 50px;
    width: 300px;
    height: 50px;
    border-radius: 7px;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 30px;
    box-shadow: 10px 10px 5px rgb(152, 156, 177);
    padding: 60px;
    text-align: center;
}
#daily-texts-script{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown
}
#daily-texts-script a{
    text-decoration: none;
    color:brown;
    font-weight: bold;
    font-style: italic;
}
#daily-idea {
    
    position: relative;
    display: inline-block;
    background-color: rgb(215, 210, 210);
    z-index: 4;
    padding: 50px;
    width: 300px;
    height: 50px;
    border-radius: 7px;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 30px;
    box-shadow: 10px 10px 5px rgb(152, 156, 177);
    padding: 60px;
    text-align: center;
}
#daily-idea-script{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown
}
#content {
    width: 100%;
    background-color: antiquewhite;
}
/* #about-us-title {
   
} */
#about-us-content {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(50, 90, 104);
    color: #fff;
}
#past-header {
    margin-top: 20px;
    margin-left: 20px;
    color: rgba(233, 162, 20, 0.959);
}
#past-content {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}
#about-us-past-read-more{
    text-decoration: none;
    color: antiquewhite;
    float: right;
}
#about-us-past-read-more:hover{
    color:brown
}

#now-header {
    margin-top: 20px;
    margin-left: 20px;
    color: rgba(233, 162, 20, 0.959);
}
#now-content {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}
#about-us-now-read-more{
    text-decoration: none;
    color: antiquewhite;
    float: right;
}
#about-us-now-read-more:hover{
    color:brown
}

#projects-header {
    margin-top: 20px;
    margin-left: 20px;
    color: rgba(233, 162, 20, 0.959);
}
#projects-content {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}

#photo-albums {
    margin-left: 250px;
    margin-top: 100px;
}
#members-album-enter {
    display: inline-block;
    width: 400px;
} 
#members-album-enter-caption  {
    display: block;
    background-color: #435869;
}
#members-album-enter-caption p {
    text-align: center; 
}
#members-album-enter a {
    color:#fff;
    text-decoration: none;
}
#members-album-enter-image {
    display: block;
    width: 400px;
    height: 250px;
}
#members-album-enter:hover {
    opacity: 0.5;
}

#programe-si-concerte {
    margin-left: 200px;
    display: inline-block;
    width: 400px;
} 
#programe-si-concerte-caption  {
    display: block;
    background-color: #435869;
}
#programe-si-concerte-caption p {
    text-align: center; 
}
#programe-si-concerte a {
    color:#fff;
    text-decoration: none;
}
#programe-si-concerte-image {
    display: block;
    width: 400px;
    height: 250px;
}
#programe-si-concerte:hover {
    opacity: 0.5;
}


#productie-muzicala {
    margin-top: 120px;
    display: inline-block;
    width: 400px;
} 
#productie-muzicala-caption  {
    display: block;
    background-color: #435869;
}
#productie-muzicala-caption p {
    text-align: center; 
}
#productie-muzicala a {
    color:#fff;
    text-decoration: none;
}
#productie-muzicala-image {
    display: block;
    width: 400px;
    height: 250px;
}
#productie-muzicala:hover {
    opacity: 0.5;
}

#voluntariat-si-parteneriat {
    margin-left: 200px;
    display: inline-block;
    width: 400px;
} 
#voluntariat-si-parteneriat-caption  {
    display: block;
    background-color: #435869;
}
#voluntariat-si-parteneriat-caption p {
    text-align: center; 
}
#voluntariat-si-parteneriat a {
    color:#fff;
    text-decoration: none;
}
#voluntariat-si-parteneriat-image {
    display: block;
    width: 400px;
    height: 250px;
}
#voluntariat-si-parteneriat:hover {
    opacity: 0.5;
}
